{% extends 'base.html' %}
{% block content %}

<div class="container" style="margin-bottom: 50px;">
    {% if request.user.role_id|lower == 'admin' %}
        <h2 style="margin-bottom: 30px; margin-top: 50px; margin-left: 0; padding-left: 0;">Your orders: </h2>

        {% if orders %}
            {% for order in orders reversed %}
            <hr>
                <div class="row" style="margin-bottom:30px">
                    <div class="col-sm-2">
                        <strong>Order ID :</strong> {{order.id}}<br>
                        User: {{order.customer_id.first_name}} {{order.customer_id.last_name}}

                    </div>
                    <div class="col-sm-3">
                        <strong>Order date:</strong> {{order.date}} UTC
                    </div>
                    <div class="col-sm-5">
                        <strong>Order number:</strong> {{order.number}}
                    </div>
                    
                    <div class="col-sm-2">
                        <p>
                        <a href="{% url 'order' order.id %}">More info</a>
                        </p>                     
                       <form method="post">
                        {% csrf_token %}  
                        <p style="text-align: left; margin:0; padding-bottom:0;">
                            <input type="hidden" name="order" value="{{ order.id }}" />
                            <a href="{%url 'editorder' order.id %}" class="btn btn-primary" role="button" style="color: #fff;">Edit</a>&nbsp;
                            <button class='btn btn-danger' type="submit" name="action" value="delete"  onclick="return confirm('Are you sure you want to delete Order {{order.id}}?')">Delete</button>    
                        </p>
                    </form>   
                    </div>        
                </div>  
               
            {% endfor %}
           
        {% else %}
            <h5 style="margin-left: 0; padding-left: 0;">You do not have any orders.</h5>
        {% endif %}
        
    {% else %}
        <p style="margin-top: 50px;">You have no permission for this site!</p>
    {% endif %}
</div>
{% endblock %}
