{% extends 'base.html' %}
{% block content %}


<div class="container">
    

        <h1 style="margin-bottom: 50px; margin-top: 50px;">Enjoy our products: </h1>
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 50px;">
            <form method="get">
                {% csrf_token %}
                Category: {{ myFilter.form.category_id }} &nbsp;
                NBA Team: {{ myFilter.form.team_id }} &nbsp;
                Brand: {{ myFilter.form.brand_id }} &nbsp;
                Search: {{myFilter.form.name}} &nbsp;     
                <button class="btn btn-secondary" type="submit">Go</button>
            </form>
        </div>
    </div>


        {% for product in products_pages %}
        <hr>
        <div class="row" style="margin-bottom: 60px; padding-top: 50px;">
            <div class="col-sm-3">
                <a href="{% url 'productdetail' product.id%}"><img  src="{{ product.image.url }}" class="img-fluid" alt={{product.name}}></a>
            </div>
            <div class="col-sm-7" style=" padding-left:50px;">
                <h3>{{product.name}}</h3>
                <p>
                Team: {{product.team_id}}<br>
                Brand: {{product.brand_id}}<br>
                Description: {{product.material}}<br>
                Color: {{product.color}}<br>
                </p>
            </div>
            
            <div class="col-sm-2">
                <p>Price: {{product.price}}$<br>
                <a href="{% url 'productdetail' product.id %}" style="font-size: 1.2rem;">Buy here</a></p>
            </div>
        </div>
  
        {% endfor %}

       {% if products_pages.has_previous %}
            <a href="?page=1">&laquo First</a>
            <a href="?page={{products_pages.previous_page_number}}">Previous</a>
       {% endif %}
       
       Page {{products_pages.number}} of {{products_pages.paginator.num_pages}}

       {% if products_pages.has_next %}
            <a href="?page={{ products_pages.next_page_number }}">Next</a>
            <a href="?page={{products_pages.paginator.num_pages}}">Last &raquo</a>
       {% endif %}

       
</div>

{% endblock %}
