{% extends 'base.html' %}
{% block content %}


<div class="container">
    

        <h1 style="margin-bottom: 80px;">Enjoy our products: </h1>

        {% for product in products %}
        <div class="row spaceBetween">
            <div class="col-sm-3">
                <a href="{% url 'productdetail' product.id%}"><img  src="{{ product.image.url }}" class="img-fluid" alt={{product.name}}></a>
            </div>
            <div class="col-sm-7" style=" padding-left:50px;">
                <h3>{{product.name}}</h3>
                <p>
                Team: {{product.team_id}}<br>
                Brand: {{product.brand_id}}<br>
                Description: {{product.material}}<br>
                Color: {{product.color}}<br>
                </p>
            </div>
            
            <div class="col-sm-2">
                <p>Price: {{product.price}}$<br>
                <a href="{% url 'productdetail' product.id %}" style="font-size: 1.2rem;">Buy here</a></p>
            </div>
        </div>
        {% endfor %}
       
</div>

{% endblock %}
