{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="row" style="margin-top:50px;">

        <h1>Buy it now</h1>
        <div class="col-sm-4">
            <img  src="{{ product.image.url }}" class="img-fluid" alt={{product.name}}>
        </div>

        <div class="col-sm-8" style="margin-top:40px; padding-left:50px;">
            <h3>{{product.name}}</h3>
            <p>
            Team: {{product.team_id}}<br>
            Brand: {{product.brand_id}}<br>
            Description: {{product.material}}<br>
            Color: {{product.color}}<br>
            </p>

            <div class="form-group">
                {% if available > 0 %}
                <select name='size' class="selectpicker">
                    {% for product in productdetail %}
                        {% if product.quantity > 0 %}
                            <option value='{{product.size_id}}'>{{product.size_id}} {% if product.quantity == 1 %} - Last one left {% endif %}</option>
                        {% endif %}
                    {% endfor %}                      
                </select>
                {% else %}
                <p class="alert alert-danger" style="width: 150px;">Out of stock !</p>
                {% endif %}
                
            </div>
        </div>
    </div>




    

    <div class="row">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
    
            
                {% for related in relatedProducts %}
                    {% if not forloop.first %}
                        <div class="carousel-item">  
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2">
                                    <a href="{% url 'productdetail' related.id %}"><img src="{{related.image.url}}" class="d-block w-100" alt="{{related.name}}"></a>
                                </div>
                                
                                <div class="col-sm-3" style="margin-top:40px; padding-left:50px;">
                                    <h3>{{product.name}}</h3>
                                    <p>
                                    Team: {{product.team_id}}<br>
                                    Brand: {{product.brand_id}}<br>
                                    Description: {{product.material}}<br>
                                    Color: {{product.color}}<br>
                                    </p>
                                </div>
                                
                                <div class="col-sm-3" style="padding-top:50px; padding-left:200px;">
                                    <p>Price: {{product.price}}$<br>
                                    <a href="{% url 'productdetail' product.id %}" style="font-size: 1.2rem;">Buy here</a></p>
                                </div>
                                <div class="col-sm-2"></div>
                            </div>                                      
                        </div>
                    {% else %}
                    
                        <div class="carousel-item active">                  
                            <div class="row">

                                <div class="col-sm-2"></div>
                                <div class="col-sm-2">
                                    <a href="{% url 'productdetail' related.id %}"><img src="{{related.image.url}}" class="d-block w-100" alt="{{related.name}}">    </a>
                                </div>
                                
                                <div class="col-sm-3" style="margin-top:40px; padding-left:50px;">
                                    <h3>{{product.name}}</h3>
                                    <p>
                                    Team: {{product.team_id}}<br>
                                    Brand: {{product.brand_id}}<br>
                                    Description: {{product.material}}<br>
                                    Color: {{product.color}}<br>
                                    </p>
                                </div>
                                
                                <div class="col-sm-3" style="padding-top:50px; padding-left:200px;">
                                    <p>Price: {{product.price}}$<br>
                                    <a href="{% url 'productdetail' product.id %}" style="font-size: 1.2rem;">Buy here</a></p>
                                </div>
                                <div class="col-sm-2"></div>
                            </div>                 
                        </div>
                    {% endif %}
                {% endfor %} 
        
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>







</div>

{% endblock %}
