{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="row">

        <h1>Enjoy our products: </h1>

        {% for product in products %}
            <div class="col-sm-3">
                <img  src="{{ product.image.url }}" class="img-fluid" alt={{product.name}}>
            </div>
            <div class="col-sm-5" style="margin-top:40px; padding-left:50px;">
                <h3>{{product.name}}</h3>
                <p>
                Team: {{product.team_id}}<br>
                Brand: {{product.brand_id}}<br>
                Description: {{product.material}}<br>
                Color: {{product.color}}<br>
                </p>
            </div>
            
            <div class="col-sm-4" style="padding-top:50px; padding-left:200px;">
                <p>Price: {{product.price}}$<br>
                <a href="{% url 'productdetail' product.id %}" style="font-size: 1.2rem;">Buy here</a></p>
            </div>
        {% endfor %}
       
    </div>
</div>

{% endblock %}
