{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">  
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" >  
	  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Swoosh shop</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% include "navigation.html" %}

    <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
      <i class="bi bi-arrow-up"></i>
    </button>
    
    {% block content %} {% endblock %}


    {% include "footer.html" %}
    
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script  type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>  

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.6.0"></script>


    <script>
    $("#success-alert").fadeTo(1500, 250).slideUp(250, function(){
        $("#success-alert").slideUp(250);
    });


    //Get the button
    let mybutton = document.getElementById("btn-back-to-top");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
      scrollFunction();
    };

    function scrollFunction() {
    if (
    document.body.scrollTop > 20 ||
    document.documentElement.scrollTop > 20
    ) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
    }
    // When the user clicks on the button, scroll to the top of the document
    mybutton.addEventListener("click", backToTop);

    function backToTop() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }

    </script>
  </body>
</html>
