<footer class="bg-dark text-center text-white mt-auto">
    
    <div class="container p-4 pb-0">
      <section class="mb-4">

        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/lovre-begovi%C4%87-083471231" role="button">
            <i class="bi bi-linkedin"></i>
       </a>
  
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/lb46861" role="button" >
            <i class="bi bi-github"></i>
        </a>

      </section>
    </div>
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); font-family: 'DM Sans', sans-serif;">
        This web application has been created for final college work.<br>
        © 2022 Copyright: Lovre Begovic
        
    </div>
    
</footer>