{% extends 'base.html' %} 
{% block content %}


<div class="container" style="margin: 50px auto;">

    <h2>Hello {{request.user|capfirst}}, edit your profile here!</h2>

    {% if messages %}
        {% for message in messages %}
            <div id='success-alert' class="alert alert-success alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

        {% endfor %}     
    {% endif %}

    {% if msg %}
        <div id='success-alert' class="alert alert-success alert-dismissible fade show" role="alert">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}


    <div class="form-content">
        <form method="post">
            {% csrf_token %}
                {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                            
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <p style="color:rgb(196, 79, 44)"><strong>{{ error }}</strong></p>
                        </div>
                    {% endfor %}                           
                </p>
                {% endfor %}

                <span style="margin-left: 10px; font-family: 'DM Sans', sans-serif;">Country: <br></span> 
                <select class="custom-select mb-4" style="margin-left: 10px;"
                name="country" 
                hx-get="{% url 'cityfilter' %}" 
                hx-trigger="change, load"
                hx-target="#cities">
                    
               

                    {% for country in countries %}
                        {% if country == request.user.location.city.country %}
                            <option value="{{country.id}}" selected>{{country.name}}</option> 
                        {% else %}
                            <option value="{{country.id}}">{{country.name}}</option>
                        {% endif %}
                    {% endfor %}
                
                </select>   
                
                 <br>
                <span style="margin-left: 10px; font-family: 'DM Sans', sans-serif;">City:<br></span>
                <div id = "cities" style="margin-left: 10px;">
                    {% include 'account/cities.html' %}
                </div>


                {% for field in postalform %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                            
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <p style="color:rgb(196, 79, 44)"><strong>{{ error }}</strong></p>
                        </div>
                    {% endfor %}                           
                </p>
                {% endfor %}


                {% for field in addressform %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                            
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <p style="color:rgb(196, 79, 44)"><strong>{{ error }}</strong></p>
                        </div>
                    {% endfor %}                           
                </p>
                {% endfor %}


                

            <p>

            <button type="submit" name="action" value="save" class="btn btn-dark btn-m">Save Changes</button> &nbsp;
            <button type="submit" name="action" value="reset" class="btn btn-dark btn-m">Reset</button>
            </p>
        </form>

        <p><a href="{% url 'changepassword' %}">Change Password</a></p>
    </div>
</div>
{% endblock %}