{% extends 'base.html' %}
{% block content %}


<div class="container">
        <h2 style="margin-bottom: 30px; margin-top: 50px; margin-left: 0; padding-left: 0;">Your orders: </h2>

        {% if orders %}
            {% for order in orders %}
                <div class="row" style="margin-bottom:30px">
                    <div class="col-sm-2">
                        <strong>Order ID :</strong> {{order.id}}
                    </div>
                    <div class="col-sm-3">
                        <strong>Order date:</strong> {{order.date}} UTC
                    </div>
                    <div class="col-sm-5">
                        <strong>Order number:</strong> {{order.number}}
                    </div>
                    
                    <div class="col-sm-2">
                       <a href="{% url 'order' order.id %}">More info</a>
                    </div>        
                </div>  
                <hr>
            {% endfor %}
           
        {% else %}
            <h5 style="margin-left: 0; padding-left: 0;">You do not have any orders.</h5>
        {% endif %}
</div>

{% endblock %}
