{% extends 'base.html' %} {% block content %}

<div class="container" style="margin-top: 80px;">
    
        <h2>Order successfull!</h2>
        <h3>Order details:</h3>

        <h5>
            Order id: {{order.id}}<br>
            Order number: {{order.number}}<br>
            Order date: {{order.date}} UTC<br>
        </h5>
        <br><br>
        <h5 style="font-weight: 600;">Products information: </h3>

        {% for item in cartItems %}
           
                <p style="font-weight: 600;">
                    Product: {{item.product.product_id.name}} ---- Size:  {{item.product.size_id}} ---- Qty: {{item.quantity}} ---- Price: {{item.get_total}} $
                </p>

        {% endfor %}
          <p style="font-weight: 600;">Total price: {{order.get_total}}$</p>      
        

</div>  

{% endblock %}
