*{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, p{
    font-family: 'DM Sans', sans-serif;
    padding: 10px;
}


input[type=submit]{
    background-color: #eee;
    border: 1px solid #ddd;
    color: #333; 
    font-size: 1em; 
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px;
}


input[type=number],
input[type=text],
input[type=password],
input[type=email],
input[type=select],
input[type=tel] {
    width: 200px;
    padding: 5px 5px;
}
select {
    width: 180px;
    padding:5px;
}

