*{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, p{
    font-family: 'DM Sans', sans-serif;
    padding: 10px;
}


input[type=submit]{
    background-color: #eee;
    border: 1px solid #ddd;
    color: #333; 
    font-size: 1em; 
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px;
}


input[type=number],
input[type=text],
input[type=password],
input[type=email],
input[type=select],
input[type=tel] {
    padding: 5px 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
}
select {
    padding:5px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.similiarProducts{
    background: #333;
    border-radius: 20px;
    color:#fff;
    padding: 40px 0 60px 0;
    margin-bottom: 100px;
}

.spaceBetween{
    margin-bottom: 60px;
}

.carousel-control-prev{
    width: 7%;
}
.carousel-control-next{
    width: 7%;
}

.changeinput{
    width: 100%;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 20%;
}